@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:'con';
	src:url('media/Minecraft.ttf');
}


html, body, h1, h2, h3, h4, h5, h6, p, nav, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, header, footer, section, a, button { /*reset css*/
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
	font: 20px 'con';
	list-style: none;
}

html{
	height: 100%;
	background-color:#000;
}

body{
	height: 100%;
	background-color:#000;
	/* border: 3px solid rgb(255, 0, 0); */
	/* background-color: #00f;	
	border: 13px solid rgb(255, 255, 0); */
}

header, section, footer {
	background-color: #012;
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-right: 1px solid rgb(255, 255, 255);
	border-left: 1px solid rgb(255, 255, 255);
	/* border: 1px solid rgb(255, 255, 255); */
}

.datos{
	color: rgb(0, 255, 0);
}
.datoslite{
	color: rgb(150, 255, 150);
}

.wrapper2{
	margin-top: 5%;
	height: auto;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 20px;
	background-color: #012;
	border: 1px solid rgb(255, 255, 255);
}

.wrapper2 header, .wrapper2 section, .wrapper2 footer{
	border-right: 0px solid rgb(255, 255, 255);
	border-left: 0px solid rgb(255, 255, 255);
	border-radius: 20px;
	margin-left: 0%;
	margin-right: 0%;
}

.wrapper{ /*SIN USO*/
	height: 100%;
}

header {
	/* padding-bottom: 1%; */
	/* border-bottom: 1px solid rgb(0, 255, 255); */
	height: auto;
}

section {
	height: auto;
}

footer{
	height: auto;
}
.separa-footer1{ /*RESUMEN*/
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 20px;
	border-bottom: 2px dashed rgb(255, 255, 255);
}
.separa-footer2{ /*TODAS LAS DEMAS*/
	margin-left: 4%;
	margin-right: 4%;
	border-top: 2px dashed rgb(255, 255, 255);
	padding-top: 20px;
}
.contiene-separa-footer{
	margin-left: 15%;
	margin-right: 15%;
	background-color: #012;
	border-left: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(255, 255, 255);
}
p{
	margin-bottom: 1%;
	color:#fff;
	font-size:20px;
}

h1{
	border-bottom: 2px dashed rgb(255, 255, 255);
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	color: #FFF;
	font-size:35px;
	text-align:center;
	text-transform: uppercase;
}

h2{
	border-radius: 5px;
	border-bottom: 5px ridge rgb(0, 255, 255);
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 4%;
	margin-bottom: 4%;
	color:#0ff;
	font-size:30px;
	text-align:center;
	text-transform: uppercase;
}

.cyantitle{
	/* border-radius: 5px; */
	padding-bottom: 1%;
	border-bottom: 1px dotted rgb(0, 255, 255);
}

h3{
	padding: 0 2%;
	margin-top: 0;
	color:#Ff0;
	margin-bottom: 1%;
	padding-top: 1.5%;
	font-size:25px;
	text-transform: uppercase;
}
.h3main{
	padding: 0;
	margin-top: 0;
	color:#Ff0;
	margin-bottom: 1%;
	padding-top: 1.5%;
	font-size:25px;
	text-transform: uppercase;
}
.parrafomain {
	margin-top: 0%;
	margin-bottom: 0%;
	color:#fff;
	font-size:18px;
	border-bottom: 1px dotted rgb(255, 255, 0);
}

a{font-size:18px;
}
a:link{color:#cc00cc
}
a:visited{color:#cc00cc
}
a:hover{color:#fff
}
a:active{color:#0f0
}

ul li{
	color:#fff;
	font-size:18px;
	padding-left: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
}
.listas-cont{
	margin-top: 2%;
	margin-bottom: 2%;
}
.listas-cont li{
	color:#fff;
	font-size:18px;
	list-style-type: square;
	margin-left: 25px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.listanavegar{
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	/* border: 1px solid rgb(255, 255, 255); */ /* VER LOS ELEMENTOS DEL NAV BAR */ 
	display: inline-block;
	min-width: 18.5%;
	max-width: 18.5%;
}

.listanavegar2 {
	margin-left: 15px;
}

nav {
	display: grid;
	justify-items: stretch;
	margin-top: 2%;
	margin-bottom: 2%;
	height: 35px;
	padding-top:15px;
	background: rgba(0, 0, 0, 1.0);
	border-radius: 13px;
	border: 1px solid rgb(255, 255, 255);
}

.regresa{
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
	padding: 1% 0%;
	margin-left: 33%;
	margin-right: 33%;
	margin-top: 5%;
	margin-bottom: 4%;
	display: block;
	/*background-color: #FFF;*/
	text-align: center;
}

img{
	max-width: 35%;  
	max-height: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 35%;
	padding: 3px;
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
}

video{
	max-width: 35%;  
	max-height: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 35%;
	height: 35%;
	padding: 3px;
	border-radius: 10px;
	border: 1px solid rgb(255, 255, 255);
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

.footer{
	padding: 1% 0;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-links{
	width: auto;
	padding: 0 15px;
}
.footer-links ul li{
	margin-left: 20px;
	margin-bottom: 10px;
}
.footer-links ul li p, a{
	padding-right: 7px;
	padding-left: 0px;
	/*border: 1px solid rgb(255, 255, 0); VER LOS LINKS EN CAJA AMARILLA  */ 
	color: #fff;
	transition: all .2s ease;
}
.footer-links ul li p, a:hover{
	padding-right: 0px;
	padding-left: 7px;
}
.footer-links ul li p{
	padding-right: 7px;
	padding-left: 0px;
}

.colapsable {
	border: none;
	border-radius: 10px;
	background-color: #012;
	cursor: pointer;
	width: 100%;
	text-align: left;
	opacity: 0.8;
    transition: 0.2s;
}
.active, .colapsable:hover {
	border: 1px solid rgb(255, 255, 0);
    background-color: #001;
	opacity: 1
}

.parrafo {
	margin-top: 1.5%;
	margin-bottom: 1.5%;
	padding: 0 18px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	background-color: #012;
}

.correo-purpura {
	color: #cc00cc;
}

.toast {
	background: rgba(255, 0, 255, 0.4);
	align-items: left;
	position: fixed;
	right: 40px;
	bottom: 40px;
	width: 100%;
	max-width: 300px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 7px;
	padding-top: 10px;	
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	animation-name: apertura;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
}

.icono-toast {
	color: #fff;
}

.toast .contenido-toast {
	display: grid;
	grid-template-columns: 35px auto 24px;
	align-items: center;
	gap: 15px;
	padding: 5px;
	position: relative;
	overflow: hidden;
}

.contenedor-toast .toast .btn-cerrar {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	border: none;
	cursor: pointer;
	padding: 0px, 10px;
	transition: .2s ease all;
}
.contenedor-toast .toast .btn-cerrar:hover {
	background: rgba(0, 0, 0, 0.7);
}

@keyframes apertura{
	from {
		transform: translateY(100px);
		opacity: 0;
		background: rgba(255, 255, 255, 1);
	}
	
	to {
		transform: translateY(0);
		opacity: 1;
		background: rgba(255, 0, 255, 0.4);
	}
}

.contenedor-toast .autocierre::after {
	content: "";
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	position: absolute;
	opacity: 0.6;
	bottom: 3px;
	left: 0px;
	animation-name: autocierre;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes autocierre{
	from {
		width: 100%;
	}
	
	to {
		width: 0%;
	}
}

.contenedor-toast .cerrando {
	animation-name: cierre;
	animation-duration: .2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.idioma {
	width: 40px;
	height: 30px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
	background: #012;
	margin-top: 2.7%;
	margin-left: 91%;
	padding-left: 12px;
	padding-right: 0px;
	position: absolute;
}

@keyframes cierre{
	from {
		transform: translateX();
	}
	
	to {
		transform: translateX(calc(100% + 160px));
	}
}

/* XL SCREEN BORDER BOTTOM */
@media (min-width: 2500px) and (min-height: 1277px) {
	footer {
		border-bottom: 1px solid rgb(255, 255, 255);
	}
}

/* MOBILE MAX WIDTH 861 PX */
@media (max-width: 980px) { 
	html, body, h1, h2, h3, h4, h5, h6, p, nav, ol, ul, li, pre,
	code, address, variable, form, fieldset, blockquote, header,
	footer, section, a, button, div, .separa-footer1, .separa-footer2,
	.wrapper2, .parrafomain, .parrafo, .cyantitle, .h3main, .contiene-separa-footer,
	.colapsable { /*reset css*/
		font-weight: normal;
		font: 20px 'con';
		list-style: none;
		background: rgba(0,0,0,0);
		border: none;
		text-align: justify;
		text-justify: inter-word;
	}
	header, section, footer {
		background: rgba(0,0,0,0);
	}
	section > .colapsable:active {
		background: #000;
		border: 1px solid rgb(255,255,0);
	}
	section > .colapsable:hover {
		background: #000;
		border: 1px solid rgb(255,255,0);
	}
	html, body {
		background: rgb(0,0,0);
		background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,9,18,1) 12%, rgba(5,9,18,1) 88%, rgba(0,0,0,1) 100%);
	}
	body {
		height: 100%;
	}
	body > * {
		margin-left: 80px;
		margin-right: 80px;
	}
	h1 {
		text-align: center;
		font-size: 70px;
		margin-top: 60px;
		margin-bottom: 40px;
		color: #0F0;
		border-bottom: 5px dashed rgb(255, 255, 255);
	}
	.parrafomain {
		border-bottom: 1px dotted rgb(255, 255, 0);
	}
	.parrafomain > h3 {
		font-size: 12px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.parrafomain > p {
		font-size: 12px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.wrapper2 .regresa {
		margin-top: 70px;
		margin-bottom: 70px;
		margin-left: 0%;
		margin-right: 0%;
		padding: 2%;
		font-size: 12px;
	}
	.regresa {
		margin-top: 100px;
		margin-bottom: 100px;
		margin-left: 0%;
		margin-right: 0%;
		padding: 2%;
		font-size: 30px;
		background: rgba(0,0,0,1);
	}
	.separa-footer1 {
		border-bottom: 5px dashed rgb(255, 255, 255);
	}
	.contiene-separa-footer {
		margin-left: 80px;
		margin-right: 80px;
		padding-left: 3%;
		padding-right: 3%;
	}
	.separa-footer2 {
		margin: 0;
		padding: 0;
		border-bottom: 5px dashed rgb(255, 255, 255);
		margin-bottom: 100px;
	}
	.iconos > ul > li > a {
		font-size: 30px;
	}
	.iconos > ul > li {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 60px;
		margin-right: 60px;
		padding-left: 0px;
	}
	.footer-links {
		padding-left:0;
		padding-right: 0;
	}
	.footer-links > ul > li > p {
		color: #fff;
	}
	.footer-links > ul > li > a {
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 0px;
		padding-left: 0px;
	}
	.footer-links > ul > li {
		margin-top: 43px;
		margin-bottom: 30px;
		margin-left: 0px;
		margin-right: 30px;
		padding-left: 0px;
		padding-right: 0px;	 
	}
	a:link{
		text-decoration: none;
	}
	a:visited{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	}
	a:active{
		text-decoration: none;
	}
	footer {
		bottom: 0;
	}
	ul > .listanavegar {
		margin-left:0;
		margin-right:0;
		display: block;
		min-width: 100%;
		max-width: 100%;
	}
	nav > ul > li {
		margin-right: 10px;
	}
	nav > ul > li > a {
		display: block;
		text-align: center;
		border-radius: 10px;
		border: 1px solid rgb(255, 255, 255);
		background: rgba(0,0,0,1);
		padding: 2%;
		margin: 7px 0;
		font-size: 30px;
	}
	body > .wrapper2 {
		margin-left: 80px;
		margin-right: 80px;
	}
	.cyantitle > h2 {
		width: 35%;
		margin-left: 32.5%;
		margin-right: 32.5%;
		font-size: 35px;
		text-align: center;
		border-radius: 10px;
		border-bottom: 3px ridge rgb(0, 255, 255);
		margin-bottom: 50px;
	}
	.cyantitle > p {
		font-size: 30px;
	}
	.cyantitle {
		margin-top: 400px;
		padding-bottom: 1%;
		border-bottom: 1px dotted rgb(0, 255, 255);
	}
	.toast {
		background: rgba(150, 0, 150);
	}
	.contenido-toast {
		background: rgba(150, 0, 150);
	}
	.contenido-toast > .texto-toast {
		background: rgba(150, 0, 150);
	}
	.icono-toast {
		background: rgba(150, 0, 150);
	}
	.texto-toast > p {
		background: rgba(150, 0, 150);
	}
	.btn-cerrar > p {
		background: rgba(150, 0, 150);
	} 
	@keyframes apertura{
		from {
			transform: translateY(100px);
		}
		
		to {
			transform: translateY(0);
		}
	}
	h3 {
		font-size: 35px;
	}
	.parrafo p, .parrafo li, .parrafo .datos, .parrafo .datoslite  {
		font-size: 30px;
	}
}

